/* style-wallpaper */

/*div { border: 5px solid red; }*/

.top-bar {
    height: 10%;
    display: grid;
    grid-template-columns: 200px auto 25%;
    grid-gap: 10px;
    padding: 10px;
/*    border: 5px solid orange;*/
}

.top-left, .top-mid, .top-right {
    text-align: center;
    position: relative;
}

.home {
    vertical-align: middle;
    position: absolute;
    top: 50%;
    margin-left: -23px;
    margin-top: -23px;
}

.boo {
    height: 40px;
    width: 40px;
    background-color: white;
    border: 3px solid #DEC79B;
}

h1 {
    font-family: "Dosis", sans-serif;
    font-size: 60px;  
    margin: 0;
}

.wrap {
    display: grid;
    grid-template-columns: 200px auto 25%;
    grid-gap: 10px;
    padding: 10px;
    height: 90%;
}

.item2 {
/*    border: 5px solid blue;*/
}

.button {
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid #BFC0C0;
    margin: 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.button a {
    text-decoration: none;
    letter-spacing: 1px;
    position: relative;
    transition: all .45s ease-Out;
}

#circle {
    width: 0%;
    height: 0%;
    opacity: 0;
    line-height: 40px;
    border-radius: 50%;
    background: #BFC0C0;
    position: absolute;
    transition: all .5s ease-Out;
    top: 20px;
    left: 70px;
    border: 2px solid #DEC79B;
}

.button:hover > #circle {
    width: 200%;
    height: 500%;
    opacity: 1;
    top: -70px;
    left: -70px;
}

.button:hover > a {
    color: #2D3142;
}

#category {
    overflow: visible;
}

#category:hover {
    background: #BFC0C0;
    transition: all .5s ease-Out;
}

#category:hover .dropdown {
    display: block;
    transition: all .5s ease-Out;
}

.dropdown {
    display: none;
/*    border: 2px solid red;*/
    position: absolute;
    left: 152px;
    top: -2px; 
}

.drop-button {
    margin: 0 20px 40px 20px;
    font-size: 1em; 
    background: #18181E;
}

.drop-button:hover > a {
    color: #2D3142;
}

#drop-00:hover > a { color: teal; }
#drop-11:hover > a { color: red; }
#drop-12:hover > a { color: blue; }
#drop-13:hover > a { color: green; }
#drop-14:hover > a { color: yellow; }

.item3 {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
/*    border: 5px solid green; */
}

.item3 > div {
    flex: 1;
    min-width: 25%;
    margin: 5px;
    border: 2px solid red;
    background: no-repeat;
    background-size: 100%;
}

.item4 { 
    max-width: 400px; 
/*        border: 5px solid yellow; */
}

@media only screen and (max-width: 900px) {
    .item3, .top-mid {
        grid-column-start: 2;
        grid-column-end: 4;
    }
    
    .item3 > div {
        min-width: 45%;
    }
    
    #pic-box-05, #pic-box-06 {
        display: none;
    }
    
    .item4, .top-right {
        display: none;
    }   
}