/* style.css */

@import
    'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');

html {
    height: 100%;
    width: 100%;
    background-color: #18181E;
    color: #DEC79B;
}

body {
/*    margin: 10px;*/
    height: 100%;
}
